.card-producto{
    width:280px;
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.card-producto:hover{
    transform:translateY(-8px);
}

.producto-imagen{
    width:100%;
    height:230px;
    object-fit:cover;
}

.producto-info{
    padding:18px;
}

.producto-info h3{
    margin-bottom:10px;
    font-size:22px;
}

.producto-info p{
    margin:6px 0;
}

.precio{
    color:#0d6efd;
    font-size:26px;
    font-weight:bold;
}

.stock{
    color:#666;
}

.producto-info button{
    width:100%;
    margin-top:15px;
    border:none;
    padding:12px;
    border-radius:10px;
    background:#0d6efd;
    color:white;
    font-size:17px;
    cursor:pointer;
}

.producto-info button:hover{
    background:#0b5ed7;
}